body{
	background: url("../images/bg.jpg") no-repeat center center fixed;
	display: block;
	max-width: 100%;
	height: auto;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin-top: 0%;
}
/* Positioning the logo (heart) */
.centered {
  position: absolute; /* or absolute */
  top: 35%;
  left: 42%;

}
/*Positioioning the */
.centered2 {
  position: absolute; /* or absolute */
  top: 58%;
  left: 38.5%;
}
.centered3 {
  position: absolute; /* or absolute */
  top: 65%;
  left: 41.3%;
  width: 250px;
}
.centered4 {
  position: absolute; /* or absolute */
  top: 190%;
  left: 35.5%;

}
.centered5 {
  position: absolute; /* or absolute */
  top: 120%;
  left: 12%;
}
.centered6 {
  position: absolute; /* or absolute */
  top: 60%;
  left: 0%;
}
.wrapper{
  height: 280px;
  overflow: auto;
  width: 100%; 
  display: 
  block; 
  background-color: #121111;
}
.btn-danger{
	background-color: #b71418;
}
.container-fluid{
	background-color: #222222;
	opacity: 0.8;
} 

/*LOGIN form*/
#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
/*END login form*/
/*Nav Bar Font Colors and Hover*/
.navbar-text 
{
	color: #b71418;
}
.dropdown-toggle{
	color: #b71418;
}
.dropdown-toggle:hover{
	color: #b71418;
}
/* END Nav Bar Font Colors and Hover*/

.first{
  margin-top: 10%;
}
.upper{
  margin-top: -30%;
  padding-left: 10%;
}
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  
}
.btn-block{
  width: 150px;
}

.btn-circle.btn-lg{
  font-size: 16px;
}
.jumbotron{
  margin-top: 30px;
  margin-bottom: 0;
  background-color: #302e2f;
  opacity: 0.7;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 6px;
}

.card1 {
  float: left;
  width: 75%;
  padding: .75rem;
  margin-bottom: 0rem;  border-radius: 0px;
  background-color: #302e2f;
}
.card2 {
  float: left;
  width: 25%;
  padding: .75rem;
  margin-bottom: 0rem;  border-radius: 0px;
  background-color: #302e2f;
}
/*Make changes for height: 271px; and width: 100% */
#player{
  height: 271px; 
  width: 100%; 
  background-color: #ccc;
  border:15px solid #9a2b25;
  border-radius: 15px;
}
/*Make changes for height: 271px; and width: 100% */
#map{
  height: 271px; 
  width: 100%; 
  background-color: #090228;
  border:15px solid #9a2b25;
  border-radius: 15px;
}
.video-container {
position: relative;
padding-bottom: 56.25%;
padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
.container-fluid{
  background-color:#121111;
}
.table-inverse{
  color: red;
}
#score{
  float: right;
}
.top{
  color: red;
  text-align: center;
  padding: 10px;
}
.ten{
  color: #fff;
}
th{
  text-align: center;
}
.total{
  font-size: 50px;
  color: white;
  font-weight: bolder;
  text-align: center;
}
.current{
  color: white;
  font-size: 18px;
  color: red;
  font-weight: bolder;
  text-align: center;
}
.uLogo{
  text-align: center;
}
.rules{
  padding: 15px;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
  opacity: 0.6;
}
.gameOver{
  margin-top: 20%;
  margin-left: 33%;
}